

.alera-vavorite{
    background-color: aqua;
    padding: 15px;
text-align: center;   
font-size: 20px;
display: none;
}
.block{
    display: block;
}
.favourite .content{
display: flex;
align-items: center;
/* flex-wrap: wrap; */
justify-content: space-between;
}
.content-favourite img{
    width: 100px;
    margin-top: 30px;
    border-radius: 10px;
}
.control-user{
    width: 30%;
    padding: 30px;
    border-radius: 10px;
 background-color: #eee;
 width: 200px;
 height: 350px;
 margin-bottom: 20px;
 margin-top: 20px;
}
.control-user .control{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 4px;
}
.control-user a{
    position: relative;
    display: block;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: #ccc;

}

.control-user p.out{
    cursor: pointer;
background-color: black;
    text-align: center;
    padding: 5px;
    position: relative;
    top: -4px;
    color: white;
    border-radius: 5px;
    transition: 0.5s linear;
}

.is-btn-loding::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    z-index: 444;
    display: block;
    margin: auto;
    text-align: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 50%;

    animation: loder 0.9s linear infinite;
}
.is-btn-loding::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

@keyframes loder {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.control-user p.out:hover{
  background-color: darkgoldenrod;
}
.contentFavouriteproduct{
    width: 85%;
}
.content-favourite{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid rgb(233, 224, 224);
}
.content-favourite button{
    cursor: pointer;
    display: inline-block;
    border: none;
    color: white;
    padding: 10px;
    background: linear-gradient(red ,orange );
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
}

.img-header{
    height: 400px;
width: 100%;
}

@media(min-width:320px) and (max-width:767px){
    .favourite .content{
        display: flex;
        flex-direction: column;
    }
    .img-header{
        margin-top: 15px;
    }
    .control-user{
        width: 400px;
    }
    .content-favourite{
        position: relative;
     border-bottom: none;
     bottom: 20px;
    }
    .content-favourite img{
display: block;
width: 320px;
margin-left: 40px;

    }
    .content-favourite p.salary{
        text-align: center;
        margin: auto;
        position: relative;
        top: 15px;
    }
    .content-favourite p:nth-child(3){
        position: relative;
        top: 25px;
    }
    .content-favourite p:nth-child(4){
      display: none;
    }
    .content-favourite button{
        position: relative;
        top: 40px;
        margin:auto ;
    }
}

@media(min-width:1200px) and (max-width:1400px){
  .content-favourite{
      width: 100%;
  }
}