.content-information-product {
    display: flex;
    flex-wrap: wrap;
}

.choose-shopping {
    margin-bottom: 15px;
}

.content-information-product .cardone {
    text-align: right;
    width: 30%;
}

.content-information-product .cardone .btn {
    display: flex;
    justify-content: center;
}

.content-information-product .cardone .btn button {
    border: none;
    padding: 7px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.content-information-product .cardone .btn button:first-child {
    background-color: black;
    color: white;
}

.content-information-product .cardtwo {
    width: 65%;
    position: relative;
    margin-left: 30px;
    top: 35px;
}

.desc-discount {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

.input-discount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-discount button {
    padding: 7px;
    border-radius: 9px;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-right: 5px;
}

.input-discount input {
    border-radius: 9px;
    border: none;
    width: 70%;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

.discount-month {
    display: flex;
    align-items: center;
    padding: 10px;
}

.month-discoun-desc {
    padding: 20px;
    border: 2px solid;
    border-image: linear-gradient(to right, rgb(205, 23, 251), rgb(218, 201, 201));
    border-image-slice: 1;
    border-radius: 7px;
    font-size: 15px;
    width: 240px;

}

.total-discount {
    margin-left: 5px;
}

.total-discount .content {
    margin-top: 15px;
}

.total-discount .desc-3 {
    background-color: #eee;
    padding: 10px;
    border: 1px solid rgb(199, 190, 190);
}

.total-discount .desc {
    margin-bottom: 15px;
}

i {
    cursor: pointer;
}

.delete {
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 7px;
    background-color: #eee;
}

td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

.td-1 {
    position: absolute;
}

.td-1 p {
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 100px;
    padding: 15px;
    height: 100px;
}

.td-2 {
    position: relative;
}

.td-2 p {
    margin-bottom: 100px;
    border-bottom: 1px solid #ddd;
    height: 100px;
    padding: 15px;
}

.td-3 {
    position: relative;
    text-align: top;
}

.td-3 div {
    height: 90px;
    margin-bottom: 100px;
}

.td-1,
.td-2,
.td-3,
.postion {
    vertical-align: top;
    margin-bottom: 10px
}

.content-td {
    height: 150px;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
}

td:nth-child(3) span:nth-child(1) {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-left: 4px;
}

td:nth-child(3) span:nth-child(2) {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

td:nth-child(3) {
    position: relative;
}

td:nth-child(3) span:nth-child(3) p.number-product-shopping {
    width: 30px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    border: none;
    border: 1px solid rgb(204, 199, 199);
    position: relative;
    top: 8px;
}

td:nth-child(3) span:nth-child(3) input:focus {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


td:nth-child(3) .icons {
    cursor: pointer;
    position: relative;
    top: 2px;
}

td:nth-child(3) .icons i {
    background-color: #eee;
    padding: 2px;
}

td div {
    display: flex;
    align-items: center;
    align-items: center;
}

tr th:nth-child(4) {
    display: flex;
    justify-content: flex-end;
}

th:nth-child(4) span {
    margin-left: 20px;
}

tr:nth-child(1) th:nth-child(1) {
    width: 100px;
}

tr:nth-child(1) th:nth-child(2) {
    width: 100px;
}

tr:nth-child(1) th:nth-child(3) {
    width: 150px;
}

tr td p {
    margin-bottom: 10px;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 100px;
    height: 110px;
    position: relative;
    top: -70px;
    border-radius: 10px;
}


@media(min-width:320px) and (max-width:767px) {
    .content-information-product .cardone {
        width: 250px;
        margin-top: 20px;
    }

    .desc-discount {
        width: 320px;
        margin-bottom: 20px;
    }

    .input-discount {
        margin-top: 30px;
        width: 360px;
    }

    table {
        width: 100px;
    }

    th {
        border-bottom: none;
        border-top: none;
        background-color: #eee;
    }

    .head-img {
        display: none;
    }

    .td-2 p {
        border-bottom: none;
    }

    tr th {
        width: 80px;
        position: relative;
        left: -40px;
        height: 50px;
        vertical-align: super;
    }

    tr td {
        position: relative;
        left: -70px;
    }

    .td-1 p {
        position: relative;
        border-bottom: none;
        margin-left: 10px;
    }

    .td-1 {
        position: relative;
    }


    td {
        border-bottom: none;
        border-right: none;
    }

    .postion img {
        display: none;
    }

    .content-td .desc {
        font-size: 10px;

    }

}

